extends layout/base

block content
  section.content-header
    h1
     | DATA INFROMASI PENDATAAN PENDUDUK
     small 2021-2022

  //Main content
  section.content
    //Your Page Content Here
    // /.row
    .row
      .col-xs-12
        .box
          .box-header
            h3.box-title Hi, Admin
          // /.box-header
          .box-body
            p Selamat Datang di website kami, siap melayani anda
          // /.box-body
      // /.box
  // /.content