aside.main-sidebar
    section.sidebar
        ui.sidebar-menu
            li.treeview
                a(href='#')
                    i.fa.fa-table
                    span Dashboard
                    span.pull-right-container   
                        i.fa.fa-angle-left.pull-right
                        ul.treeview-menu
                            li
                                a(href='#') Daftar
                            li
                                a(href='#') Kontribusi
             li.treeview
                a(href='#')
                    i.fa.fa-table
                    span Pengaturan
                    span.pull-right-container   
                        i.fa.fa-angle-left.pull-right
                        ul.treeview-menu
                            li
                                a(href='#') Profil
                            li
                                a(href='#') Backup Databse

